<<<<<<< Updated upstream
@font-face {
    font-family: 'Crayon';
    src: url("@/assets/fonts/crayon.ttf");
}
@font-face {
    font-family: 'WenKai';
    src: url("@/assets/fonts/LXGWWenKai-Regular.ttf");
} 

=======
  
>>>>>>> Stashed changes
$color_black: #091620;
$color2: #018CD3;
$color3: #0C6BA1;
$color_white: #F6F6F6;
$color_gray: #8C969B;
$color_yellow: #FAC350;
$color7: #8AB5CB;